header h1 {
    font-size: 40pt;
    text-transformation: uppercase;
    text-align: center;
    background: url("bg.png") left / auto 100% no-repeat;
    height: 100px;
}
nav {
    font-size: 16pt;
    width: 100px;
    float: left;

}
nav a {
    display: block;
    margin: 10px 10px;

}
section {
    margin-left: 170px;
}
a   {
    color: red;
    text-decoration: none;
}